---
export interface Props {
	readonly link: URL;
	readonly title: string;
	readonly description: string;
	readonly style: string;
}

const { link, title, description, style } = Astro.props;
---

<article class:list={["flex items-stretch rounded-2xl bg-gradient-to-br", style]}>
	<a href={link.toString()} title={title} class="bg-dracula-darker m-1 block rounded-2xl p-3 text-center">
		<slot />
		<h3 class="from-dracula to-dracula-cyan inline bg-gradient-to-r bg-clip-text text-transparent">
			{title}
		</h3>{" "}
		<p class="inline">{description}</p>
	</a>
</article>
