---
import { icons } from "feather-icons";
import Card from "./Card.astro";
import TypeScriptIcon from "./icons/TypeScript.astro";
import JavaScriptIcon from "./icons/JavaScript.astro";
import ReactIcon from "./icons/React.astro";
import NodejsIcon from "./icons/Nodejs.astro";
import CSSIcon from "./icons/CSS.astro";
import VueIcon from "./icons/Vue.astro";
---

<section>
	<h3>
		Skills
		<Fragment set:html={icons.award?.toSvg()} />
	</h3>

	<hr />

	<div>
		<Card
			title="TypeScript"
			description="is a typed superset of JavaScript that compiles to plain JavaScript."
			style="cyan"
			link={new URL("https://www.typescriptlang.org")}
		>
			<TypeScriptIcon />
		</Card>

		<Card
			title="JavaScript"
			description="is a high-level, interpreted programming language that conforms to the ECMAScript specification."
			style="pink"
			link={new URL("https://www.ecma-international.org/publications-and-standards/standards/ecma-262/")}
		>
			<JavaScriptIcon />
		</Card>

		<Card
			title="React"
			description="is a library for building user interfaces."
			style="cyan"
			link={new URL("https://react.dev")}
		>
			<ReactIcon />
		</Card>

		<Card
			title="Vue.js"
			description="is an approachable, performant and versatile framework for building web user interfaces"
			style="pink"
			link={new URL("https://vuejs.org")}
		>
			<VueIcon />
		</Card>

		<Card
			title="Node.js"
			description="is a JavaScript runtime built on Chrome's V8 JavaScript engine."
			style="cyan"
			link={new URL("https://nodejs.org")}
		>
			<NodejsIcon />
		</Card>

		<Card
			title="Cascading Style Sheets (CSS)"
			description="is a simple mechanism for adding style (e.g., fonts, colors, spacing) to Web documents."
			style="pink"
			link={new URL("https://www.w3.org/Style/CSS/")}
		>
			<CSSIcon />
		</Card>
	</div>
</section>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	section {
		background-color: variables.$selection;
		padding: 1rem;

		@media (min-width: variables.$large-width) {
			padding: 2.5rem;
		}
	}

	h3 {
		@include mixins.heading;

		:global(svg) {
			@include mixins.heading-icon;
		}
	}

	hr {
		@include mixins.divider;
	}

	div {
		color: variables.$foreground;
		margin: auto;
		display: grid;
		max-width: 1024px;
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 1.25rem;

		@media (min-width: variables.$small-width) {
			grid-template-columns: repeat(2, 1fr);
			padding: 1rem;
		}

		@media (min-width: variables.$large-width) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
