{
  "parser-plugins": [
    "typescript"
  ],
  "include": [
    "target/src/**/*.js"
  ],
  "report-dir": "target/coverage",
  "temp-dir": "target/.nyc_output",
  "cache-dir": "target/.cache",
  "exclude-after-remap": false,
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ]
}
