{
  "all": true,
  "extension": [".ts", ".tsx"],
  "require": ["ts-node/register/transpile-only"],
  "include": [
    "src/**/*"
  ],
  "report-dir": "target/coverage",
  "temp-dir": "target/.nyc_output",
  "cache-dir": "target/.cache",
  "exclude-after-remap": false,
  "reporter": [
    "lcov",
    "text",
    "clover"
  ]
}
