:4321 {
	root * /srv

	@extensionlessDirectoryRequest {
		file {path}/index.html
		not path */
	}

	rewrite @extensionlessDirectoryRequest {path}/index.html
	file_server

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
