:4321 {
	root * /srv

	@rootIndexHtmlRequest path /index.html
	redir @rootIndexHtmlRequest / permanent

	@htmlFileRequest {
		path_regexp htmlFileRequest ^(.+)\.html$
		not path /404.html
	}
	redir @htmlFileRequest {re.htmlFileRequest.1} permanent

	@extensionlessHtmlRequest {
		file {path}.html
		not path */
		not path /404
	}

	rewrite @extensionlessHtmlRequest {path}.html
	file_server

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
