$background: #282a36;
$current-line: #6272a4;
$selection: #44475a;
$foreground: #f8f8f2;
$comment: #6272a4;
$red: #ff5555;
$orange: #ffb86c;
$yellow: #f1fa8c;
$green: #50fa7b;
$cyan: #8be9fd;
$purple: #bd93f9;
$pink: #ff79c6;

$small-width: 40rem;
$medium-width: 48rem;
$large-width: 64rem;
$extra-large-width: 80rem;
