@use "./variables";

*,
:after,
:before {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-family: "JetBrains Mono", sans-serif;
	line-height: 1.5;
}

body {
	min-height: 100%;
	background-color: variables.$background;
	display: flex;
	flex-direction: column;
}

a {
	color: inherit;
	text-decoration: inherit;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

svg {
	display: block;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
