---
import pretzelSvg from "../assets/images/pretzel.svg";
---

<footer>
	<p class="made-with">
		Made with
		<img src={pretzelSvg.src} alt="" loading="lazy" width={28} height={28} />
	</p>

	<a href="https://overkill.dev">side quest: overkill.dev</a>
</footer>

<style lang="scss">
	@use "../styles/variables";

	footer {
		align-items: center;
		border-top: 1px solid variables.$purple;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
		gap: 0.125rem;
		justify-content: center;
		min-height: 4rem;
	}

	.made-with {
		align-items: center;
		color: variables.$foreground;
		display: flex;
		font-size: 0.875rem;
		font-weight: 200;
		gap: 0.5rem;
		justify-content: center;
		line-height: 1;
		margin: 0;
	}

	img {
		display: block;
	}

	a {
		color: variables.$foreground;
		font-size: 0.75rem;
		font-weight: 200;
		line-height: 1;
		opacity: 0.7;
		text-decoration: none;

		&:hover {
			opacity: 1;
			text-decoration: none;
		}

		&:focus-visible {
			opacity: 1;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 0.18em;
		}
	}
</style>
