---
import pretzelSvg from "../assets/images/pretzel.svg";
---

<footer>
	<p>Made with</p>

	<img src={pretzelSvg.src} alt="Pretzel" loading="lazy" width={28} height={28} />
</footer>

<style lang="scss">
	@use "../styles/variables";

	footer {
		border-top: 1px solid variables.$purple;
		display: flex;
		height: 3rem;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	p {
		color: variables.$foreground;
		font-size: 0.875rem;
		font-weight: 200;
	}
</style>
