---
import pretzelSvg from "../assets/images/pretzel.svg";
---

<footer class="border-dracula-purple flex h-12 flex-shrink-0 items-center justify-center gap-2 border-t">
	<p class="text-dracula-light text-sm font-extralight">Made with</p>

	<img src={pretzelSvg.src} alt="Pretzel" loading="lazy" width={28} height={28} />
</footer>
