---
import { Image  } from '@astrojs/image/components';
import pretzelSvg from "../images/pretzel.svg";
---

<footer class="h-12 flex-shrink-0 flex justify-center items-center gap-2 border-t border-dracula-purple">
	<p class="text-sm text-dracula-light font-extralight">Made with</p>
	<Image src={pretzelSvg} alt="Pretzel" width={28} height={28} />
</footer>
