---
import pretzelSvg from "../assets/images/pretzel.svg";
---

<footer class="flex flex-shrink-0 gap-2 justify-center items-center h-12 border-t border-dracula-purple">
	<p class="text-sm font-extralight text-dracula-light">Made with</p>

	<img src={pretzelSvg.src} alt="Pretzel" loading="lazy" width={28} height={28} />
</footer>
