---
import { icons } from "feather-icons";
---

<nav>
	<ul>
		<li>
			<Fragment
				set:html={icons.code?.toSvg({
					class: "navigation-icon"
				})}
			/>
		</li>
	</ul>

	<ul class="social-links">
		<li>
			<a href="https://github.com/screendriver" title="GitHub">
				<Fragment set:html={icons.github?.toSvg({ class: "navigation-icon" })} />
			</a>
		</li>
		<li>
			<a href="https://twitter.com/CallistoShip" title="Twitter">
				<Fragment set:html={icons.twitter?.toSvg({ class: "navigation-icon" })} />
			</a>
		</li>
		<li>
			<a href="https://www.linkedin.com/in/unicornyuppie" title="LinkedIn">
				<Fragment set:html={icons.linkedin?.toSvg({ class: "navigation-icon" })} />
			</a>
		</li>
	</ul>
</nav>

<style lang="scss" is:global>
	@use "../styles/variables";

	.navigation-icon {
		width: 1.25rem;
		height: 1.25rem;

		@media (min-width: variables.$small-width) {
			width: 1.5rem;
			height: 1.5rem;
		}

		@media (min-width: variables.$medium-width) {
			width: 2rem;
			height: 2rem;
		}
	}
</style>

<style lang="scss">
	@use "../styles/variables";

	nav {
		background-image: linear-gradient(to bottom, variables.$selection, variables.$background);
		color: variables.$foreground;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 2rem;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	.social-links {
		gap: 1rem;
	}
</style>
