---
import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/200.css";
import "@fontsource/jetbrains-mono/700.css";
import "@fontsource/jetbrains-mono/800.css";

export interface Props {
	readonly title?: string;
}

const { title = "Christian Rackerseder — Full-Stack Software Engineer" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#bd93f9" />
		<meta
			name="description"
			content="Full-Stack Software Engineer with a passion for the Jamstack and test driven development."
		/>
		<meta
			name="keywords"
			content="Racki,TypeScript,JavaScript,Jamstack,TDD,HTML,CSS,Node.js,React,Astro,Elm,Blog"
		/>
		<meta name="author" content="Christian Rackerseder" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@CallistoShip" />
		<meta name="twitter:creator" content="@CallistoShip" />
		<meta property="og:title" content="Christian Rackerseder" />
		<meta
			property="og:description"
			content="Full-Stack Software Engineer with a passion for the Jamstack and test driven development."
		/>
		<meta property="og:url" content="https://www.echooff.dev" />
		<meta property="og:type" content="website" />
		<meta name="robots" content="noimageindex" />
		<link rel="shortcut icon" href="/favicon.png" />
		<link rel="alternate" type="application/rss+xml" title="Christian Rackerseder — Blog" href="/rss.xml" />
		{
			import.meta.env.PROD && (
				<script
					async={true}
					defer={true}
					data-website-id="d45fca6e-76ed-489f-b0ba-f57d444afff2"
					data-do-not-track="true"
					src="https://statistics.echooff.de/tasty.js"
				/>
			)
		}
		<slot name="search-engine-optimization-schema" />
		<title>{title}</title>
	</head>

	<slot />


</html>
