---
import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/200.css";
import "@fontsource/jetbrains-mono/700.css";
import "@fontsource/jetbrains-mono/800.css";
import "../styles/main.scss";

export interface Props {
	readonly title?: string;
}

const { title = "Christian Rackerseder — Full-Stack Software Engineer" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#bd93f9" />
		<meta
			name="description"
			content="Full-Stack Software Engineer with a passion for the Jamstack and test driven development."
		/>
		<meta
			name="keywords"
			content="Racki,TypeScript,JavaScript,Jamstack,TDD,HTML,CSS,Node.js,React,Astro,Vue.js,Vue"
		/>
		<meta name="author" content="Christian Rackerseder" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@CallistoShip" />
		<meta name="twitter:creator" content="@CallistoShip" />
		<meta property="og:title" content="Christian Rackerseder" />
		<meta
			property="og:description"
			content="Full-Stack Software Engineer with a passion for the Jamstack and test driven development."
		/>
		<meta property="og:url" content="https://www.echooff.dev" />
		<meta property="og:type" content="website" />
		<meta name="robots" content="noimageindex" />
		<link rel="shortcut icon" href="/favicon.png" />
		{
			import.meta.env.PROD && (
				<script
					is:inline
					defer={true}
					data-website-id="f506ed37-a264-4027-8475-719f16e3176c"
					src="https://statistics.82r.de/tasty.js"
				/>
			)
		}
		<slot name="search-engine-optimization-schema" />
		<title>{title}</title>
	</head>

	<slot />


</html>
