---
import { icons } from "feather-icons";
import Statistics from "./Statistics.svelte";
---

<section class="bg-dracula-dark p-4 lg:p-10">
	<h3
		class="flex items-center lg:items-end justify-center gap-x-2 text-dracula-cyan lg:leading-none text-2xl lg:text-4xl font-extrabold my-2"
	>
		Some Stats
		<Fragment set:html={icons["bar-chart-2"]?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="h-2 w-1/2 border-none mb-4 m-auto bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink rounded-lg"
	/>
	<div class="m-auto max-w-screen-lg grid gap-2 sm:gap-4 grid-cols-2 lg:grid-cols-4 sm:p-4">
		<Statistics client:idle />
	</div>
</section>
