---
import { icons } from "feather-icons";
---

<section class="bg-dracula-dark p-4 lg:p-10">
	<h3
		class="flex items-center lg:items-end justify-center gap-x-2 text-dracula-cyan lg:leading-none text-2xl lg:text-4xl font-extrabold my-2"
	>
		Contact
		<Fragment set:html={icons.mail?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="h-2 w-1/2 border-none mb-4 m-auto bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink rounded-lg"
	/>
	<address class="not-italic grid grid-cols-2 gap-6 justify-items-center m-auto max-w-screen-lg">
		<a
			href="https://www.openstreetmap.org/relation/497335"
			class="flex flex-col items-center justify-self-end ml-9 md:mx-9"
		>
			<Fragment set:html={icons["map-pin"]?.toSvg({ width: 23, height: 23 })} />
			<p class="whitespace-nowrap">Nearby Munich</p>
		</a>
		<a href="https://threema.id/9TWBW4XN" class="flex flex-col items-center justify-self-start ml-9 md:mx-9">
			<Fragment set:html={icons["message-square"]?.toSvg({ width: 23, height: 23 })} />
			<p>Threema</p>
		</a>
		<a
			href="mailto:hello@echooff.de"
			class="col-span-2 font-bold text-2xl bg-clip-text text-transparent bg-gradient-to-r from-dracula-pink-500 to-dracula-orange-500 transition duration-150 hover:underline hover:underline-offset-4 hover:decoration-dracula-purple"
			>hello@echooff.de</a
		>
	</address>
</section>
