---
import { Image } from "astro:assets";
import PageShell from "../layouts/PageShell.astro";
import Header from "../layouts/Header.astro";
import Body from "../layouts/Body.astro";
import Footer from "../layouts/Footer.astro";
import About from "../about/About.astro";
import Skills from "../skills/Skills.astro";
import Passions from "../passions/Passions.astro";
import Statistics from "../statistics/Statistics.astro";
import Resume from "../resume/Resume.astro";
import Contact from "../contact/Contact.astro";
import headerImage from "../assets/images/header-01.jpg";
---

<PageShell>
	<Header>
		<figure>
			<Image src={headerImage} alt="Christian Rackerseder" quality={80} loading="eager" class="header-image" />
		</figure>

		<div class="terminal-window">
			<div class="terminal-header">
				<div class="terminal-buttons">
					<div class="terminal-button red"></div>
					<div class="terminal-button yellow"></div>
					<div class="terminal-button green"></div>
				</div>
			</div>

			<code class="terminal-code">
				<p class="terminal-prompt">$ whoami</p>
				<p class="terminal-output">Christian</p>
				<p class="terminal-prompt">$ groups</p>
				<p class="terminal-output">Full-Stack Software Engineer</p>
				<p class="terminal-prompt cursor">$</p>
			</code>
		</div>
	</Header>

	<Body>
		<main>
			<About />
			<Skills />
			<Passions />
			<Statistics />
			<Resume />
			<Contact />
		</main>
	</Body>

	<Footer />
</PageShell>

<style lang="scss">
	@use "../styles/variables";

	figure {
		position: relative;
		height: 16rem;
		overflow: hidden;
		border-top: 1px solid variables.$purple;
		border-bottom: 1px solid variables.$purple;
		background-image: linear-gradient(to bottom, variables.$cyan, transparent);

		@media (min-width: variables.$small-width) {
			height: 80%;
		}
	}

	main {
		color: variables.$foreground;
		flex-shrink: 0;
		flex-grow: 1;
		flex-basis: auto;
	}

	.header-image {
		height: 100%;
		object-fit: cover;
		object-position: top;
		max-width: 100%;
		mix-blend-mode: luminosity;
		transform: translateX(1.5rem) translateY(1.5rem) scale(1.2);

		@media (min-width: variables.$small-width) {
			transform: none;
		}
	}

	.terminal-window {
		position: relative;
		margin: -2.75rem auto 0;
		width: 80%;
		max-width: 640px;
		border-radius: 0.375rem;
		border: 1px solid variables.$selection;
		background-color: rgba(variables.$background, 0.9);
		box-shadow:
			0 4px 6px -1px variables.$background,
			0 2px 4px -2px variables.$background;
		padding-bottom: 2.5rem;

		@media (min-width: variables.$small-width) {
			position: absolute;
			right: 1rem;
			bottom: 1rem;
			width: auto;
			margin-top: 0;
		}

		@media (min-width: variables.$large-width) {
			right: 2rem;
			bottom: 2rem;
			padding-bottom: 4rem;
		}

		@media (min-width: variables.$extra-large-width) {
			padding-bottom: 6rem;
		}
	}

	.terminal-header {
		position: relative;
		margin-bottom: 0.5rem;
		display: flex;
		height: 1rem;
		flex-direction: row;
		justify-content: center;
		border-top-left-radius: 0.375rem;
		border-top-right-radius: 0.375rem;
		padding: 0.5rem;
		background-color: variables.$selection;

		@media (min-width: variables.$medium-width) {
			height: 1.75rem;
		}
	}

	.terminal-buttons {
		position: absolute;
		top: 0.25rem;
		left: 0.5rem;
		display: flex;
		flex-direction: row;

		.terminal-button + .terminal-button {
			margin-left: 0.25rem;
		}

		@media (min-width: variables.$medium-width) {
			top: 0.5rem;
			.terminal-button + .terminal-button {
				margin-left: 0.5rem;
			}
		}
	}

	.terminal-button {
		height: 0.5rem;
		width: 0.5rem;
		border-radius: 9999px;

		&.red {
			background-color: variables.$red;
		}
		&.yellow {
			background-color: variables.$yellow;
		}
		&.green {
			background-color: variables.$green;
		}

		@media (min-width: variables.$medium-width) {
			height: 0.75rem;
			width: 0.75rem;
		}
	}

	.terminal-code {
		display: block;
		padding: 0 0.5rem;
		font-size: 1rem;

		@media (min-width: variables.$small-width) {
			margin-right: 2.5rem;
		}

		@media (min-width: variables.$medium-width) {
			padding: 0 1rem;
		}

		@media (min-width: variables.$large-width) {
			margin-right: 5rem;
		}

		@media (min-width: variables.$extra-large-width) {
			margin-right: 8rem;
		}
	}

	.terminal-prompt {
		color: variables.$foreground;
		margin-bottom: 0.25rem;
	}

	.terminal-output {
		background-image: linear-gradient(to right, variables.$pink, variables.$purple);
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}

	.cursor {
		display: flex;
		align-items: center;
		gap: 0.5rem;

		&::after {
			content: "";
			position: relative;
			display: inline-block;
			height: 1.5rem;
			width: 0.5rem;
			background-color: variables.$foreground;
			animation: cursor-blink 1.5s steps(2) infinite;
		}
	}

	@keyframes cursor-blink {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
</style>
