---
import { icons } from "feather-icons";
---

<section class="bg-dracula-dark p-4 lg:p-10">
	<h3
		class="text-dracula-cyan my-2 flex items-center justify-center gap-x-2 text-2xl font-extrabold lg:items-end lg:text-4xl lg:leading-none"
	>
		Contact
		<Fragment set:html={icons.mail?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="bg-dracula-red from-yellow to-dracula-pink m-auto mb-4 h-2 w-1/2 rounded-lg border-none bg-gradient-to-br"
	/>
	<address class="m-auto grid max-w-screen-lg grid-cols-2 justify-items-center gap-6 py-4 not-italic">
		<a
			href="https://www.openstreetmap.org/relation/497335"
			class="ml-9 flex flex-col items-center justify-self-end md:mx-9"
		>
			<Fragment set:html={icons["map-pin"]?.toSvg({ width: 23, height: 23 })} />
			<p class="whitespace-nowrap">Nearby Munich</p>
		</a>
		<a href="https://threema.id/9TWBW4XN" class="ml-9 flex flex-col items-center justify-self-start md:mx-9">
			<Fragment set:html={icons["message-square"]?.toSvg({ width: 23, height: 23 })} />
			<p>Threema</p>
		</a>
	</address>
</section>
