---
import { icons } from "feather-icons";
---

<section>
	<h3>
		Contact
		<Fragment set:html={icons.mail?.toSvg()} />
	</h3>

	<hr />

	<address>
		<a href="https://www.openstreetmap.org/relation/497335">
			<Fragment set:html={icons["map-pin"]?.toSvg({ width: 23, height: 23 })} />
			<p>Nearby Munich</p>
		</a>

		<a href="https://threema.id/9TWBW4XN">
			<Fragment set:html={icons["message-square"]?.toSvg({ width: 23, height: 23 })} />
			<p>Threema</p>
		</a>
	</address>
</section>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	section {
		background-color: variables.$selection;
		padding: 1rem;

		@media (min-width: variables.$large-width) {
			padding: 2.5rem;
		}
	}

	h3 {
		@include mixins.heading;

		:global(svg) {
			@include mixins.heading-icon;
		}
	}

	hr {
		@include mixins.divider;
	}

	address {
		margin: auto;
		display: grid;
		max-width: 1024px;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		gap: 1.5rem;
		padding: 1rem 0;
		font-style: normal;
	}

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: variables.$foreground;
		text-decoration: none;

		@media (min-width: variables.$medium-width) {
			margin: 0 2.25rem;
		}
	}

	a:first-child {
		justify-self: end;
	}

	a:last-child {
		justify-self: start;
		margin-left: 2.25rem;
	}

	p {
		white-space: nowrap;
	}
</style>
