---
import Layout from "../layouts/Layout.astro";
import Header from "../header/Header.astro";
import About from "../about/About.astro";
import Skills from "../skills/Skills.astro";
import Passions from "../passions/Passions.astro";
import Statistics from "../statistics/Statistics.astro";
import Resume from "../resume/Resume.astro";
import Contact from "../contact/Contact.astro";
---

<Layout>
    <Header />
    <main class="text-dracula-light">
        <About />
        <Skills />
        <Passions />
        <Statistics />
        <Resume />
        <Contact />
    </main>
</Layout>
