---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import About from '../components/About.astro';
import Skills from '../components/skills/Skills.astro';
import Passions from '../components/Passions.astro';
import Statistics from '../components/statistics/Statistics.astro';
import Resume from '../components/resume/Resume.astro';
import Contact from '../components/contact/Contact.astro';
---

<Layout>
    <Header />
    <main class="text-dracula-light">
        <About />
        <Skills />
        <Passions />
        <Statistics />
        <Resume />
        <Contact />
    </main>
</Layout>
