---
interface Props {
	readonly description: string;
}

const { description } = Astro.props;
---

<div class="flex h-20 flex-col items-center justify-center rounded bg-dracula-darker lg:h-28 lg:text-lg">
	<p class="text-dracula-light">{description}</p>

	<slot />
</div>
