---
import { icons } from "feather-icons";
import StatisticsData from "./StatisticsData.astro";
---

<section>
	<h2>
		Some Stats
		<Fragment set:html={icons["bar-chart-2"]?.toSvg()} />
	</h2>

	<hr />

	<dl>
		<StatisticsData />
	</dl>
</section>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	section {
		background-color: variables.$selection;
		padding: 1rem;

		@media (min-width: variables.$large-width) {
			padding: 2.5rem;
		}
	}

	h2 {
		@include mixins.heading;

		:global(svg) {
			@include mixins.heading-icon;
		}
	}

	hr {
		@include mixins.divider;
	}

	dl {
		margin: auto;
		display: grid;
		max-width: variables.$large-width;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;

		@media (min-width: 640px) {
			gap: 1rem;
			padding: 1rem;
		}

		@media (min-width: variables.$large-width) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
</style>
