---
import StatisticsData from "./StatisticsData.vue";
import { icons } from "feather-icons";
---

<section class="bg-dracula-dark p-4 lg:p-10">
	<h3
		class="my-2 flex items-center justify-center gap-x-2 text-2xl font-extrabold text-dracula-cyan lg:items-end lg:text-4xl lg:leading-none"
	>
		Some Stats
		<Fragment set:html={icons["bar-chart-2"]?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="m-auto mb-4 h-2 w-1/2 rounded-lg border-none bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink"
	/>
	<div class="m-auto grid max-w-screen-lg grid-cols-2 gap-2 sm:gap-4 sm:p-4 lg:grid-cols-4">
		<StatisticsData client:idle />
	</div>
</section>
