---
import { graphql } from "@octokit/graphql";
import { icons } from "feather-icons";
import YearsInBusiness from "./YearsInBusiness.astro";
import GitHubRepositories from "./GitHubRepositories.astro";
import GitHubStars from "./GitHubStars.astro";
import Figure from "./Figure.astro";
import {
	gitHubBaseUrlSchema,
	gitHubLoginSchema,
	gitHubApiTokenSchema,
} from "../github-statistics/environment-variables.js";
import { gitHubStatisticsSchema } from "../github-statistics/github-statistics-schema.js";
import { fetchGitHubStatistics } from "../github-statistics/graphql-query";

const gitHubStatisticsResponse = await fetchGitHubStatistics({
	graphql,
	gitHubBaseUrl: gitHubBaseUrlSchema.parse(import.meta.env.GIT_HUB_API_BASE_URL),
	gitHubLogin: gitHubLoginSchema.parse(import.meta.env.GIT_HUB_LOGIN),
	gitHubApiToken: gitHubApiTokenSchema.parse(import.meta.env.GIT_HUB_API_TOKEN),
});
const gitHubStatistics = gitHubStatisticsSchema.parse(gitHubStatisticsResponse);

const currentYear = import.meta.env.PROD ? new Date() : new Date(2022, 2, 23);
const careerStartYear = 2001;
const yearsOfExperience = currentYear.getFullYear() - careerStartYear;
---

<section class="p-4 lg:p-10 bg-dracula-dark">
	<h3
		class="flex gap-x-2 justify-center items-center my-2 text-2xl font-extrabold lg:items-end lg:text-4xl lg:leading-none text-dracula-cyan"
	>
		Some Stats
		<Fragment set:html={icons["bar-chart-2"]?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="m-auto mb-4 w-1/2 h-2 bg-gradient-to-br rounded-lg border-none bg-dracula-red from-yellow to-dracula-pink"
	/>
	<div class="grid grid-cols-2 gap-2 m-auto max-w-screen-lg sm:gap-4 sm:p-4 lg:grid-cols-4">
		<YearsInBusiness yearsOfExperience={yearsOfExperience} />
		<GitHubRepositories repositoriesTotalCount={gitHubStatistics.user.repositories.totalCount} />
		<GitHubStars starredRepositoriesTotalCount={gitHubStatistics.user.starredRepositories.totalCount} />
		<Figure description="Lines of Code">
			<figure set:html={icons["bar-chart"]?.toSvg({ class: "text-dracula-green w-6 h-6 mt-2" })} />
		</Figure>
	</div>
</section>
