---
import { icons } from "feather-icons";
---

<section class="p-4 lg:p-10">
	<h3
		class="flex items-center lg:items-end justify-center gap-x-2 text-dracula-cyan lg:leading-none text-2xl lg:text-4xl font-extrabold my-2"
	>
		Passions
		<Fragment set:html={icons.heart?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="h-2 w-1/2 border-none mb-4 m-auto bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink rounded-lg"
	/>
	<article class="m-auto max-w-screen-lg grid gap-2 grid-cols-2 md:grid-cols-3 sm:p-4">
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.activity?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Agile</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.compass?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Clean Code</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.zap?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Performance</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.server?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Serverless</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.layers?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Jamstack</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded">
			<Fragment set:html={icons.cloud?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Cloud</p>
		</div>
		<div class="flex flex-row justify-center items-center py-3 bg-dracula-dark rounded col-span-2 md:col-span-3">
			<Fragment set:html={icons.check?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>TDD</p>
		</div>
	</article>
</section>
