---
import { icons } from "feather-icons";
---

<section class="p-4 lg:p-10">
	<h3
		class="my-2 flex items-center justify-center gap-x-2 text-2xl font-extrabold text-dracula-cyan lg:items-end lg:text-4xl lg:leading-none"
	>
		Passions
		<Fragment set:html={icons.heart?.toSvg({ class: "text-dracula-light w-6 h-6 lg:w-9 lg:h-9" })} />
	</h3>
	<hr
		class="m-auto mb-4 h-2 w-1/2 rounded-lg border-none bg-dracula-red bg-gradient-to-br from-yellow to-dracula-pink"
	/>
	<article class="m-auto grid max-w-screen-lg grid-cols-2 gap-2 sm:p-4 md:grid-cols-3">
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.activity?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Agile</p>
		</div>
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.compass?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Clean Code</p>
		</div>
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.zap?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Performance</p>
		</div>
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.server?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Serverless</p>
		</div>
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.layers?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Jamstack</p>
		</div>
		<div class="flex flex-row items-center justify-center rounded bg-dracula-dark py-3">
			<Fragment set:html={icons.cloud?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>Cloud</p>
		</div>
		<div class="col-span-2 flex flex-row items-center justify-center rounded bg-dracula-dark py-3 md:col-span-3">
			<Fragment set:html={icons.check?.toSvg({ class: "text-dracula-green mr-1" })} />
			<p>TDD</p>
		</div>
	</article>
</section>
