---
export interface Props {
	readonly href: string;
}

const { href } = Astro.props;
---

<a class="blog-archive-link" href={href}><slot /></a>

<style lang="scss">
	@use "../styles/variables";

	.blog-archive-link {
		color: variables.$cyan;
		display: inline-block;
		position: relative;
		text-decoration: none;
	}

	.blog-archive-link::after {
		background-color: rgba(variables.$cyan, 0.5);
		bottom: 0.05em;
		content: "";
		height: 1px;
		left: 0.12em;
		position: absolute;
		right: 0.12em;
	}

	.blog-archive-link:hover,
	.blog-archive-link:focus-visible {
		color: variables.$pink;
	}

	.blog-archive-link:hover::after,
	.blog-archive-link:focus-visible::after {
		background-color: rgba(variables.$pink, 0.55);
	}
</style>
