---
export interface Props {
	readonly label: string;
}

const { label } = Astro.props;
---

<nav class="blog-archive-navigation" aria-label={label}>
	<slot />
</nav>

<style lang="scss">
	@use "../styles/variables";

	.blog-archive-navigation {
		border-bottom: 1px solid rgba(variables.$selection, 0.8);
		margin-bottom: 0.5rem;
		padding-bottom: 1rem;
	}
</style>
