---
export interface Props {
	readonly label: string;
}

const { label } = Astro.props;
---

<section class="blog-archive-section" aria-label={label}>
	<slot />
</section>

<style lang="scss">
	@use "../styles/variables";

	.blog-archive-section {
		padding: 1.5rem 1.5rem 1.75rem;
	}

	@media (min-width: variables.$small-width) {
		.blog-archive-section {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}
</style>
