---
export interface Props {
	readonly href: string;
}

const { href } = Astro.props;
---

<a class="blog-back-link" href={href}>
	<span><slot /></span>
</a>

<style lang="scss">
	@use "../styles/variables";

	.blog-back-link {
		align-items: center;
		color: variables.$cyan;
		display: inline-flex;
		font-size: 0.9rem;
		gap: 0.45rem;
		text-decoration: none;
	}

	.blog-back-link:hover,
	.blog-back-link:focus-visible {
		color: variables.$pink;
		text-decoration: underline;
		text-decoration-color: rgba(variables.$pink, 0.55);
		text-underline-offset: 0.2rem;
	}
</style>
