---
export interface Props {
	readonly href: string;
}

const { href } = Astro.props;
---

<a class="blog-archive-link" href={href}><slot /></a>

<style lang="scss">
	@use "../styles/variables";

	.blog-archive-link {
		color: variables.$cyan;
		text-decoration: none;
	}

	.blog-archive-link:hover,
	.blog-archive-link:focus-visible {
		color: variables.$pink;
		text-decoration: underline;
		text-decoration-color: rgba(variables.$pink, 0.55);
		text-underline-offset: 0.2rem;
	}
</style>
