---
import LocalizedDateTime from "./LocalizedDateTime.astro";
import type { WebmentionReply } from "./webmentions.js";

export interface Props {
	readonly webmentionReply: WebmentionReply;
}

const { webmentionReply } = Astro.props;
---

{
	webmentionReply.visiblePublishedAt.isJust && (
		<span>
			{" · "}
			<LocalizedDateTime publishedAt={webmentionReply.visiblePublishedAt.value} />
		</span>
	)
}
