---
import type { WebmentionReply } from "./webmentions.js";

export interface Props {
	readonly webmentionReply: WebmentionReply;
}

const { webmentionReply } = Astro.props;
---

{webmentionReply.content.isJust && <p class="webmention-reply-content">{webmentionReply.content.value}</p>}

<style lang="scss">
	@use "../styles/variables";
	@use "sass:color";

	.webmention-reply-content {
		color: color.mix(variables.$foreground, variables.$comment, $weight: 82%);
		margin-top: 0.9rem;
	}
</style>
