---
import "@fontsource/jetbrains-mono";
import "@fontsource/jetbrains-mono/200.css";
import "@fontsource/jetbrains-mono/700.css";
import "@fontsource/jetbrains-mono/800.css";
import Header from "../header/Header.astro";
import Footer from "../footer/Footer.astro";

export interface Props {
	readonly title?: string;
	readonly withHeader: boolean;
	readonly withHeaderBottomBorder: boolean;
	readonly withFooter: boolean;
}

const {
	title = "Christian Rackerseder - Full-Stack JavaScript Engineer",
	withHeader,
	withHeaderBottomBorder,
	withFooter
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#bd93f9" />
		<meta
			name="description"
			content="Full-Stack JavaScript Engineer with a passion for the JAMStack and test driven development."
		/>
		<meta name="keywords" content="Racki,TypeScript,JavaScript,JAMStack,TDD,HTML,CSS,Node.js,React,Blog" />
		<meta name="author" content="Christian Rackerseder" />
		<link rel="shortcut icon" href="/favicon.png" />
		<link rel="alternate" type="application/rss+xml" title="Christian Rackerseder - Blog" href="/rss.xml" />
		<title>{title}</title>
	</head>
	{
		withHeader && (
			<Header withBottomBorder={withHeaderBottomBorder}>
				<slot name="inside-header" />
			</Header>
		)
	}
	<body class="bg-dracula-darker h-full flex flex-col">
		<slot />
	</body>
	{withFooter && <Footer />}
</html>
