---
import { icons } from "feather-icons";
import { parseResumeData } from "./resume-data.js";
import resumeDate from "./resumeData.json";
import ResumeTimelineItem from "./ResumeTimelineItem.astro";

const parsedResumeResult = parseResumeData(resumeDate);

if (parsedResumeResult.isErr) {
	throw new Error(parsedResumeResult.error);
}

const resume = parsedResumeResult.value;
---

<section>
	<h2>
		Resume
		<Fragment set:html={icons["file-text"]?.toSvg()} />
	</h2>

	<hr />

	<ol class="resume-timeline">
		{resume.map((resumeJob) => <ResumeTimelineItem resumeJob={resumeJob} />)}
	</ol>
</section>

<style lang="scss">
	@use "../styles/variables";
	@use "../styles/mixins";

	section {
		padding: 1rem;

		@media (min-width: variables.$large-width) {
			padding: 2.5rem;
		}
	}

	section > h2 {
		@include mixins.heading;

		:global(svg) {
			@include mixins.heading-icon;
		}
	}

	hr {
		@include mixins.divider;
	}

	.resume-timeline {
		margin: 0 auto;
		padding-left: 0;
		list-style: none;
		width: 80%;

		@media (min-width: 640px) {
			padding-top: 1rem;
		}
	}
</style>
