---
import pretzelSvg from "../img/pretzel.svg";
---

<footer class="h-12 flex-shrink-0 flex justify-center items-center gap-2 border-t border-dracula-purple">
	<p class="text-sm text-dracula-light font-extralight">Made with</p>
	<img src={pretzelSvg.src} alt="Pretzel" class="h-7" />
</footer>
